<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "insta.png" %>">
</section>
<section class="about">
  <h1>About お勉強Instagram</h1>
  <p>
     写真投稿だよ<br>
     インスタ映えするのをアップしよう。
  </p>
</section>
<section class="function container-fluid">
  <div class="row">
  <h1>お勉強Instagramについて</h1>
      <div class="col-md-3 col-sm-6">
          <p>サポート</p>
      </div>
      <div class="col-md-3 col-sm-6">
          <p>ブログ</p>
      </div>
      <div class="col-md-3 col-sm-6">
          <p>プレス</p>
      </div>
      <div class="col-md-3 col-sm-6">
          <p>API</p>
      </div>
    </div>
</section>
